@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

.App {
  padding: 50px 0;
  text-align: center;
  background: rgb(221, 221, 221);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.App__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.App h1 {
  margin-bottom: 20px;
}

.App__search {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  margin: 0 auto 20px;
}

.App__search input {
  border: 1px solid #fafafa;
  min-height: 50px;
  padding: 10px 20px;
  border-radius: 3px;
}

.App__search button {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  border: none;
  background: none;
}

.App__search button img {
  max-width: 100%;
}

.App__sort {
  display: flex;
  justify-content: center;
  max-width: 260px;
  width: 100%;
  margin: 0 auto 20px;
}

.App__sort button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  min-height: 50px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in;
}

.App__sort button:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.App__sort select {
  flex: 0 0 40px;
  height: 50px;
  max-width: 40px;
  margin-left: 10px;
}

.orderByIcon {
  max-width: 100%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.orderByIcon.desc {
  transform: rotate(180deg);
}

*:focus {
  outline: none !important;
}

@media (max-width: 1200px) {
  .App__inner {
    padding: 0 20px;
  }
}

/* @media (max-width: 500px) {

} */
